.navbar {
  padding: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  display: inline-flex;
  gap: 1rem;
  font-weight: 500;
  font-size: 1.1rem;
}

.logo {
  width: 2.1rem;
  margin-right: 0.5rem;
}

nav span {
  font-size: 2rem;
}

nav>a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 2px;
}

.search input {
 box-sizing: border-box;
 border: none;
 outline: none;
}

.right svg {
  font-size: 1.2rem;
}

@media screen and (max-width:650px) {
  nav span {
    font-size: 1.5rem;
  }

  .logo {
    width: 1.4rem;
  }

  .search {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 2px;
  }

  .right svg {
    font-size: 1rem;
  }
  .search input {
    width: 100px;
   }
}

.mobile_user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 40px;
  left: 10px;
  width: 250px;
  height: 250px;
  background: rgba(255,255,255,0.9);
  position: absolute;
  z-index: 3;
  transition: all 1s;
  border-radius: 2px;
  font-size: 1.5rem;
  gap: 1rem;
}

.mob_icone  {
  display: none;
  cursor: pointer;
}

.scale-up-hor-left {
	-webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}
@keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}

@media screen and (max-width:500px) {
  nav {
    font-size: 1rem;
  } 
  .mob_icone {
    display: flex;
    z-index: 10;
    transition: all 1s;
  }

  nav .user {
    display: none;
  }

  .mobile_user {
   left: 40px;
  }
}

@media screen and (max-width:360px) {
  nav span {
    font-size: 1rem;
  
  }
}