@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

* {
    font-family: 'Dosis', sans-serif;
    list-style: none;
    text-decoration: none;
    color: initial;
    margin: 0;
    padding: 0;
}
